<footer class="py-[5rem] bg-[#181A20] ">
  <div class="contenedor grid grid-cols-[2fr,3fr] gap-[8rem]">
    <div>
      <img src="../../assets/logowhite.svg" alt="Logo White" />
      <div class="flex gap-[2rem] mt-[3rem]">
        <div class="flex flex-col gap-[1rem]">
          <p class="text-[1.4rem] text-softWhite">Servicio Gratis al Cliente</p>
          <p class="text-[1.5rem] text-white font-semibold">
            +(0) 123 050 945 02
          </p>
        </div>

        <div class="flex flex-col gap-[1rem]">
          <p class="text-[1.4rem] text-softWhite">
            ¿Necesita Soporte en Linea?
          </p>
          <p class="text-[1.5rem] text-white font-semibold">
            homez&#64;gmail.com
          </p>
        </div>
      </div>

      <h4 class="text-white font-semibold text-[1.8rem] mt-[6rem]">Apps</h4>
      <div class="grid grid-cols-2 gap-[2rem] mt-[1rem]">
        <div
          class="bg-[#FFFFFF0A] px-[2rem] py-[1rem] rounded-[1.5rem] flex gap-[1rem] items-center"
        >
          <li class="pi pi-apple text-[3rem] text-white"></li>

          <div>
            <p class="text-[1.4rem] text-softWhite">Descargar en la</p>
            <p class="text-[1.5rem] text-white font-semibold">Apple Store</p>
          </div>
        </div>

        <div
          class="bg-[#FFFFFF0A] px-[2rem] py-[1rem] rounded-[1.5rem] flex gap-[1rem] items-center"
        >
          <li class="pi pi-android text-[3rem] text-white"></li>

          <div>
            <p class="text-[1.4rem] text-softWhite">Descargar en la</p>
            <p class="text-[1.5rem] text-white font-semibold">Play Store</p>
          </div>
        </div>
      </div>

      <h4 class="text-white font-semibold text-[1.6rem] mt-[6rem]">
        Siguenos en Redes Sociales
      </h4>

      <div class="flex gap-[3rem] mt-[2rem]">
        <a href="">
          <li
            class="pi pi-facebook text-softWhite hover:text-redPrimary transition-all duration-300 text-[1.4rem]"
          ></li>
        </a>
        <a href="">
          <li
            class="pi pi-twitter text-softWhite hover:text-redPrimary transition-all duration-300 text-[1.4rem]"
          ></li>
        </a>
        <a href="">
          <li
            class="pi pi-linkedin text-softWhite hover:text-redPrimary transition-all duration-300 text-[1.4rem]"
          ></li>
        </a>
        <a href="">
          <li
            class="pi pi-instagram text-softWhite hover:text-redPrimary transition-all duration-300 text-[1.4rem]"
          ></li>
        </a>
      </div>
    </div>

    <div>
      <p class="text-[1.5rem] text-white font-semibold">
        Mantente al tanto de las actualizaciones
      </p>

      <div class="bg-[#FFFFFF0A] mt-[2rem] rounded-3xl flex justify-between">
        <input
          type="email"
          class="bg-transparent text-softWhite outline-none p-[2rem]"
          placeholder="Tu Email"
        />
        <button class="px-[2rem] text-white font-semibold">Suscribirse</button>
      </div>

      <div class="grid grid-cols-3 mt-[5rem] gap-[12rem]  ">
        <div class="">
          <p class="text-[1.5rem] text-white font-semibold">Busqueda Popular</p>
          <div class="flex flex-col gap-[1.5rem] mt-[2.5rem] ">
            <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Apartamentos Renta</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Fincas Renta</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Casas Renta</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Lobby Renta</a>

          </div>
        </div>

        <div class="">
          <p class="text-[1.5rem] text-white font-semibold">Links Rapidos</p>
          <div class="flex flex-col gap-[1.5rem] mt-[2.5rem] ">
            <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Terminos de Uso</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Politica de Privacidad</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Servicios</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Contactanos</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">FAQ</a>

          </div>
        </div>

        <div class="">
          <p class="text-[1.5rem] text-white font-semibold">Descubre</p>
          <div class="flex flex-col gap-[1.5rem] mt-[2.5rem] ">
            <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Medellin</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Bogota</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Cali</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Popayan</a>
          <a class="text-softWhite hover:text-white text-[1.4rem] hover:underline transition-all duration-300" href="">Santander</a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contenedor">
    <div class="my-[5rem] py-[1px] bg-[#FFFFFF0a] "></div>
    <div class="flex justify-between">
        <p class="text-[1.4rem] text-softWhite ">© Homez 2024  - Derechos Reservados</p>
        <p class="text-[1.4rem] text-softWhite ">© Homez 2024  - Derechos Reservados</p>

    </div>
  </div>
</footer>
