<div class="bg-white sticky top-0 shadow-md z-50">
    <div class="contenedor  py-[2rem]">
  <nav class="flex justify-between items-center">
    <img src="../../assets/logohomez.svg" alt="Logo Homez" />
    <div class="flex gap-[4rem]">
      <a
        class="text-[1.5rem] font-medium hover:text-redPrimary transition-all duration-300"
        href="/homez/home"
        >Home</a
      >
      <a
        class="text-[1.5rem] font-medium hover:text-redPrimary transition-all duration-300"
        href="/homez/propiedades"
        >Propiedades</a
      >
      <a
        class="text-[1.5rem] font-medium hover:text-redPrimary transition-all duration-300"
        href="/homez/about"
        >Sobre Nosotros</a
      >
      <a
        class="text-[1.5rem] font-medium hover:text-redPrimary transition-all duration-300"
        href="/homez/blog"
        >Blog</a
      >
    </div>

    

    <div class="flex gap-[1rem] items-center">
      <li class="pi pi-user text-[1.8rem]"></li>
      <a
        class="text-[1.5rem] font-medium hover:text-redPrimary transition-all duration-300 cursor-pointer"
        >Login / Register</a
      >

      <a
        class="flex text-[1.5rem] hover:bg-redPrimary transition-all duration-300 hover:text-white hover:border-white font-medium gap-[1rem] items-center border rounded-full py-[1rem] px-[3rem] border-black ml-[2rem]"
        href=""
      >
        Dashboard
        <li class="pi pi-arrow-up-right"></li>
      </a>
    </div>
  </nav>
</div>

</div>