<div class="grid grid-cols-[1fr,1fr,1fr,1.5fr] py-[2rem] px-[2rem] border-b">
  <img
    class="h-[12rem] w-[15rem] object-cover rounded-[2rem]"
    [src]="img"
    alt="Imagen"
  />

  <div class="flex flex-col gap-[1rem] justify-center">
    <p class="text-[1.5rem] font-semibold">{{ nombre }}</p>
    <p class="text-[1.5rem]">{{ departamento }}, {{ municipio }}</p>
    <p class="text-[1.5rem] font-semibold">${{ valor }}/dia</p>
  </div>

  <div *ngIf="estado" class="flex items-center">
    <p
      class="py-[1rem] px-[3rem] text-[1.4rem] text-red-500 bg-red-400/20 rounded-full w-fit"
    >
      Activa
    </p>
  </div>

  <div *ngIf="!estado" class="flex items-center">
    <p
      class="py-[1rem] px-[3rem] text-[1.4rem] text-red-500 bg-red-400/20 rounded-full w-fit"
    >
      Inactiva
    </p>
  </div>

  <div class="flex items-center gap-[2rem]">
    <a [routerLink]="['/homez/arrendador/actualizar-propiedad', id]"
      class="bg-slate-100 py-[1.4rem] group px-[1.4rem] rounded-full flex items-center justify-center hover:bg-customBlack transition-all duration-300"
    >
      <li
        class="pi pi-pencil text-[1.5rem] group-hover:text-white transition-all duration-300"
      ></li>
  </a>
    <button
      (click)="cambiarEstado()"
      class="bg-slate-100 py-[1.4rem] group px-[1.4rem] rounded-full flex items-center justify-center hover:bg-customBlack transition-all duration-300"
    >
      <li
        class="pi pi-flag text-[1.5rem] group-hover:text-white transition-all duration-300"
      ></li>
    </button>

    <a
      [href]="'/homez/propiedad/' + id"
      class="bg-slate-100 py-[1.4rem] group px-[1.4rem] rounded-full flex items-center justify-center hover:bg-customBlack transition-all duration-300"
    >
      <li
        class="pi pi-external-link text-[1.5rem] group-hover:text-white transition-all duration-300"
      ></li>
    </a>
  </div>

</div>
