<div class="w-[35rem] h-[calc(100vh-85px)] overflow-y-auto bg-white">
  <nav class="flex flex-col gap-[2rem] px-[4rem] py-[2rem]">
    <p class="uppercase text-[1.5rem]">principal</p>

    <a
      class="flex gap-[1.5rem] items-center bg-customBlack px-[2rem] py-[1.6rem] text-white rounded-2xl transition-all duration-300"
      href="#"
    >
      <li class="pi pi-qrcode text-[1.5rem]"></li>
      <p class="text-[1.5rem] font-semibold">Dashboard</p>
    </a>

    <p class="uppercase text-[1.5rem]">Arrendamiento</p>

    <a
      class="flex gap-[1.5rem] items-center px-[2rem] hover:bg-customBlack hover:text-white py-[1.6rem] rounded-2xl transition-all duration-300"
      href="#"
    >
      <li class="pi pi-money-bill text-[1.5rem]"></li>
      <p class="text-[1.5rem] font-semibold">Pagar Arriendo</p>
    </a>

    <a
      class="flex gap-[1.5rem] items-center px-[2rem] hover:bg-customBlack hover:text-white py-[1.6rem] rounded-2xl transition-all duration-300"
      href="#"
    >
      <li class="pi pi-file text-[1.5rem]"></li>
      <p class="text-[1.5rem] font-semibold">Solicitudes</p>
    </a>
    <a
      class="flex gap-[1.5rem] items-center px-[2rem] hover:bg-customBlack hover:text-white py-[1.6rem] rounded-2xl transition-all duration-300"
      href="#"
    >
      <li class="pi pi-star text-[1.5rem]"></li>
      <p class="text-[1.5rem] font-semibold">Calificar</p>
    </a>

    <p class="uppercase text-[1.5rem]">Cuenta</p>

    <a
      class="flex gap-[1.5rem] items-center px-[2rem] hover:bg-customBlack hover:text-white py-[1.6rem] rounded-2xl transition-all duration-300"
      href="#"
    >
      <li class="pi pi-user text-[1.5rem]"></li>
      <p class="text-[1.5rem] font-semibold">Mi Perfil</p>
    </a>

    <a
      class="flex gap-[1.5rem] items-center px-[2rem] hover:bg-customBlack hover:text-white py-[1.6rem] rounded-2xl transition-all duration-300"
      href="#"
    >
      <li class="pi pi-sign-out text-[1.5rem]"></li>
      <p class="text-[1.5rem] font-semibold">Cerrar Sesion</p>
    </a>
  </nav>
</div>
